@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Site administrators can manage products through this interface.</p>
    <p>@Html.ActionLink("Get Started", "Index", "Products")</p>
</div>
